.container {
  width: 100%;
  flex-direction: column;
  overflow-x: auto;
}
table {
  th,
  td {
    width: 250px;
    padding: 10px;
    white-space: pre-line;
  }
}
.filters-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  mat-form-field {
    margin: 0 5px;
    width: 25%;
  }

  mat-progress-spinner {
    margin: 5px 0;
  }
}
